*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: #e72828;
    /* font-family: fantasy; */
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: line-through;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 2px;
}

h2{
    color: green;
    background-color: aqua;
}

p{
    color: gray;
    background-image: url(./Assets/c0f95fdb9116dad6cb48b785c4e7173c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4,
.Selector > h5,
.Selector > h6,
.Selector > p{
    color: darkviolet;
}

#Skill > h2{
    color: hotpink;
}

.Container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 50px;
    padding-top: 30px; */
    padding: 20px 40px 60px 80px;    
    /* border-top: 10px solid black;
    border-bottom: 10px solid green; */
    border: 20px solid violet;  
    /* margin-left: 100px;
    margin-top: 170px; */
    /* margin: 30px 50px 70px 90px; */
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    position: sticky;
    top: 0;
    margin-top: 100px;
}

.redbox{
    width: 100px;
    height: 100px;
    background-color: red;
    /* position: fixed; */
    /* left: 50px; */
    /* top: 20px; */
}

.one{
    background-color: red;
    display: none;
    height: 50px;
}

.box1{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 3; */
    order: 2;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 3;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: yellow;
    /* flex: 1; */
    order: 1;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: red;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: pink;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 2px solid black; */
    align-items: start;
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
}

.box6{
    width: 200px;
    height: 100px;
    background-color: salmon;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: slateblue;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: coral;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: darkgreen;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: cyan;
}